@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    // font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
    // background-color: #4070f4;
    background-image: url('../img/work-pencil-2560x1440.jpg');
}

.container {
    // border: 1px solid red;
    margin-right: 300px;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 25px;
    .form {
        // border: 1px solid red;
        width: 50%;
        padding: 30px;
        background-color: #fff;
        transition: margin-left 0.18s ease;
        .title {
            position: relative;
            font-size: 27px;
            font-weight: 600;
        }
    }
    .forms {
        display: flex;
        align-items: center;
        width: 200%;
        height: 440px;
        // background-color: red;
        transition: height 0.2s ease;
    }
    .signup {
        opacity: 0;
        transition: opacity 0.09s ease;
    }
}

.container.active {
    .login {
        margin-left: -50%;
        opacity: 0;
        transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
    .signup {
        opacity: 1;
        transition: opacity 0.02s ease;
    }
    .forms {
        height: 820px;
    }
}

// TODO 'form'
.form {
    .title::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        // background-color: #4070f4;
        border-radius: 25px;
    }
    .input-field {
        // background-color: red;
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 30px;
    }
    .checkbox-text {
        // background-color: red;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .checkbox-content {
            display: flex;
            align-items: center;
            input {
                margin: 0 8px -2px 4px;
                accent-color: #4070f4;
            }
        }
    }
    a.text {
        color: #4070f4;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .text {
        color: #333;
        font-size: 14px;
    }
    .button {
        margin-top: 35px;
        input {
            border: none;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 1px;
            border-radius: 6px;
            background-color: #4070f4;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        input:hover {
            background-color: #265df2;
        }
    }
    .login-signup {
        margin-top: 30px;
        text-align: center;
    }
}

.input-field {
    input {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 35px;
        border: none;
        outline: none;
        font-size: 16px;
        border-bottom: 2px solid #999;
        border-top: 2px solid transparent;
    }
    input:is(:focus,
     :valid) {
        border-bottom-color: #4070f4;
        transition: all 0.2s ease;
    }
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // color: #ddd;
        font-size: 23px;
    }
    input:is(:focus,
     :valid)~i {
        color: #4070f4;
        transition: all 0.2s ease;
    }
    i.icon {
        left: 0;
    }
    i.showHidePw {
        right: 0;
    }
}