@import url("https://fonts.googleapis.com/css2?family=Kanit");
html,
body {
	font-family: "Kanit", sans-serif !important;
}

.bg-form {
	background-color: #072143 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	border-top-width: 1px !important;
	border-right-width: 1px !important;
}
.multiple-task {
	border: solid 1px lightgrey !important;
}

.img-fluid {
	max-width: 40% !important;
	border-radius: 1rem 0rem 0rem 1rem;
}

table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
	padding-right: 10px !important;
}

a.txt-page {
	text-decoration: underline !important;
}
/* .bg-card {
	background-image: url("../img/test.png");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
} */

/* Firefox */

input[type="number"] {
	-moz-appearance: textfield !important;
}

.main-sidebar {
	background-color: #072143 !important;
}

.form-regis,
.form-login {
	color: #072143 !important;
}

.main-sidebar a,
p {
	color: #fff3d6 !important;
}

.thead-color tr th {
	background-color: #203c62 !important;
	color: #ffffff !important;
}

.nav-pills .nav-link.active,
.nav-link.active i,
.nav-pills .show > .nav-link {
	font-weight: 900 !important;
}

.nav-pills .nav-link.active,
.nav-link.active p,
.nav-pills .show > .nav-link {
	color: #072143 !important;
	font-weight: 900 !important;
	background-color: #fff0ce !important;
}

table {
	font-size: 15px !important;
}

.txt-tilte-page {
	font-weight: 900 !important;
	color: #072143 !important;
}

td.fulltd {
	padding: 0em 0em 0em 0em !important;
}

td a.fulltd {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
}

a.g-name:hover {
	font-weight: bold !important;
	text-decoration: underline !important;
}

div.fulltd {
	height: 100% !important;
	width: 100% !important;
	padding: 1em 1em 0em 1em !important;
}

.form-span {
	text-align: right !important;
	border: 0px !important;
	font-size: 14px !important;
	padding: 0px !important;
}

.form-group {
	border-radius: 4px !important;
}
td.fulltd:hover {
	padding: 0rem !important;
}

.txt-mark {
	font-size: 40px !important;
}

.label-group {
	font-size: 20px !important;
}

.pushmenu {
	display: none !important;
}

.example_e {
	border: none !important;
	color: #ffffff !important;
	font-weight: 100 !important;
	text-transform: uppercase !important;
	border-radius: 6px !important;
	transition: all 0.3s ease 0s !important;
}

.example_e:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 4px !important;
	background: none !important;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57) !important;
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57) !important;
	transition: all 0.3s ease 0s !important;
}

.badge-status {
	font-size: 12px !important;
	padding: 7px 5px !important;
}

.bg-orange {
	color: #000000 !important;
	background-color: #ff7c2f !important;
}

.bg-orange:hover {
	color: #ffffff !important;
	background-color: #db5000 !important;
}

.bg-primary:hover {
	background-color: #004a99 !important;
}

@media screen and (max-width: 992px) {
	.pushmenu {
		display: block !important;
	}
}
